@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #ffcc00;
  color: #000000;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: #e5eaf5;
}

a {
  text-decoration: none;
  color: inherit;
}

a.active .underlineImage {
  display: block;
}
